@page "/users/register"
@using Bookstore.Blazor.Server.UI.Services.Base
<h3>Register New Account</h3>

<div class="card-body">
	<EditForm Model="RegistrationModel" OnValidSubmit="HandleRegistration">
		<DataAnnotationsValidator />
		<ValidationSummary />
		<div class="form-group">
			<label for="email">Email Address</label>
			<InputText class="form-control" @bind-Value=RegistrationModel.Email />
			<ValidationMessage For="@(() => RegistrationModel.Email)" />

		</div>
	</EditForm>
</div>
@code {
	UserDto RegistrationModel = new UserDto();

	private async Task HandleRegistration()
	{
		RegistrationModel.Role = "User";
	}
}
